<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_EventsCalendar>
			<version>1.1.0.20</version>
			<fishpig>
				<id>events-calendar</id>
				<name>The Events Calendar</name>
				<url>http://fishpig.co.uk/magento/wordpress-integration/events-calendar/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_EventsCalendar>
	</modules>
	<global>
		<blocks>
			<wp_addon_eventscalendar>
				<class>Fishpig_Wordpress_Addon_EventsCalendar_Block</class>			
			</wp_addon_eventscalendar>
		</blocks>
		<helpers>
			<wp_addon_eventscalendar>
				<class>Fishpig_Wordpress_Addon_EventsCalendar_Helper</class>			
			</wp_addon_eventscalendar>
		</helpers>
		<models>
			<wp_addon_eventscalendar>
				<class>Fishpig_Wordpress_Addon_EventsCalendar_Model</class>
			</wp_addon_eventscalendar>
		</models>
		<events>
			<wordpress_app_init_post_types_after>
				<observers>
					<wp_addon_eventscalendar>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_EventsCalendar_Model_Observer</class>
						<method>initPostTypesObserver</method>
					</wp_addon_eventscalendar>
				</observers>
			</wordpress_app_init_post_types_after>
			<wordpress_app_init_taxonomies_after>
				<observers>
					<wp_addon_eventscalendar>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_EventsCalendar_Model_Observer</class>
						<method>initTaxonomiesObserver</method>
					</wp_addon_eventscalendar>
				</observers>
			</wordpress_app_init_taxonomies_after>
			<wordpress_match_routes_before>
				<observers>
					<wp_addon_eventscalendar>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_EventsCalendar_Model_Observer</class>
						<method>matchRoutesObserver</method>
					</wp_addon_eventscalendar>
				</observers>
			</wordpress_match_routes_before>
			<wordpress_post_collection_load_before>
				<observers>
					<wp_addon_eventscalendar>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_EventsCalendar_Model_Observer</class>
						<method>addPostsToMainLoopObserver</method>
					</wp_addon_eventscalendar>
				</observers>
			</wordpress_post_collection_load_before>
		</events>
	</global>
	<frontend>
		<routers>
			<wp_addon_eventscalendar>
				<use>wordpress_addon</use>
				<args>
					<module>Fishpig_Wordpress_Addon_EventsCalendar</module>
					<frontName>wp_addon_eventscalendar</frontName>
				</args>
			</wp_addon_eventscalendar>
		</routers>
		<events>
			<wordpress_post_controller_pre_dispatch_after>
				<observers>
					<wp_addon_eventscalendar>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_EventsCalendar_Model_Observer</class>
						<method>addForwardForEventsObserver</method>
					</wp_addon_eventscalendar>
				</observers>
			</wordpress_post_controller_pre_dispatch_after>
			<wordpress_term_controller_pre_dispatch_after>
				<observers>
					<wp_addon_eventscalendar>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_EventsCalendar_Model_Observer</class>
						<method>addForwardForEventTermsObserver</method>
					</wp_addon_eventscalendar>
				</observers>
			</wordpress_term_controller_pre_dispatch_after>
		</events>
	</frontend>
	<wordpress>
		<sidebar>
			<widgets>
				<tribe-events-list-widget><block>wp_addon_eventscalendar/sidebar_widget_event_list</block></tribe-events-list-widget>
				<tribe-mini-calendar><block>wp_addon_eventscalendar/sidebar_widget</block></tribe-mini-calendar>
				<tribe-events-venue-widget><block>wp_addon_eventscalendar/sidebar_widget</block></tribe-events-venue-widget>
				<tribe-events-countdown-widget><block>wp_addon_eventscalendar/sidebar_widget</block></tribe-events-countdown-widget>
				<tribe-events-adv-list-widget><block>wp_addon_eventscalendar/sidebar_widget</block></tribe-events-adv-list-widget>
			</widgets>
		</sidebar>
		<core>
			<modules>
				<wp_addon_eventscalendar/>
			</modules>
		</core>
	</wordpress>
	<fishpig>
		<injection>
			<Fishpig_Inject_Wordpress_Model_Observer_Plugin_Abstract>
				<Fishpig_Wordpress_Addon_EventsCalendar>
					<Model_Observer_Plugin_Abstract><ignore/></Model_Observer_Plugin_Abstract>
				</Fishpig_Wordpress_Addon_EventsCalendar>
			</Fishpig_Inject_Wordpress_Model_Observer_Plugin_Abstract>
			<Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
				<Fishpig_Wordpress_Addon_EventsCalendar>
					<Block_System_Config_Form_Field_License><ignore/></Block_System_Config_Form_Field_License>
				</Fishpig_Wordpress_Addon_EventsCalendar>
			</Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
			<Fishpig_Inject_Wordpress_Helper_License>
				<Fishpig_Wordpress_Addon_EventsCalendar>
					<Helper_License><ignore/></Helper_License>
				</Fishpig_Wordpress_Addon_EventsCalendar>
			</Fishpig_Inject_Wordpress_Helper_License>
			<Fishpig_Inject_Wordpress_Helper_Core>
				<Fishpig_Wordpress_Addon_EventsCalendar>
					<Helper_Core><ignore/></Helper_Core>
				</Fishpig_Wordpress_Addon_EventsCalendar>
			</Fishpig_Inject_Wordpress_Helper_Core>
		</injection>
		<encode>
			<helper_license>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/Helper/License.php</helper_license>
			<helper_core>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/Helper/Core.php</helper_core>
			<helper_data>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/Helper/Data.php</helper_data>
			<controller_index>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/controllers/IndexController.php</controller_index>
			<controller_event>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/controllers/EventController.php</controller_event>
			<controller_event_cat>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/controllers/Event/CategoryController.php</controller_event_cat>
			<controller>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/Controller/Abstract.php</controller>
			<observer>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/Model/Observer.php</observer>
			<observer_plugin_abstract>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/Model/Observer/Plugin/Abstract.php</observer_plugin_abstract>
			<block>app/code/community/Fishpig/Wordpress/Addon/EventsCalendar/Block/Template.php</block>
		</encode>
	</fishpig>
</config>
