<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_GravityForms>
			<version>1.1.0.19</version>
			<fishpig>
				<id>gravity-forms</id>
				<name>Gravity Forms</name>
				<url>http://fishpig.co.uk/magento/wordpress-integration/gravity-forms/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_GravityForms>
	</modules>
	<global>
		<blocks>
			<wp_addon_gravityforms>
				<class>Fishpig_Wordpress_Addon_GravityForms_Block</class>			
			</wp_addon_gravityforms>
		</blocks>
		<helpers>
			<wp_addon_gravityforms>
				<class>Fishpig_Wordpress_Addon_GravityForms_Helper</class>			
			</wp_addon_gravityforms>
		</helpers>
		<models>
			<wp_addon_gravityforms>
				<class>Fishpig_Wordpress_Addon_GravityForms_Model</class>
			</wp_addon_gravityforms>
		</models>
	</global>
	<frontend>
		<events>
			<wordpress_string_filter_before>
				<observers>
					<wp_addon_gravityforms>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_GravityForms_Model_Observer</class>
						<method>applyStringFiltersObserver</method>
					</wp_addon_gravityforms>
				</observers>
			</wordpress_string_filter_before>
		</events>
	</frontend>
	<wordpress>
		<core>
			<modules>
				<wp_addon_gravityforms/>
			</modules>
		</core>
	</wordpress>
	<fishpig>
		<injection>
			<Fishpig_Inject_Wordpress_Model_Observer_Plugin_Abstract>
				<Fishpig_Wordpress_Addon_GravityForms>
					<Model_Observer_Plugin_Abstract><ignore/></Model_Observer_Plugin_Abstract>
				</Fishpig_Wordpress_Addon_GravityForms>
			</Fishpig_Inject_Wordpress_Model_Observer_Plugin_Abstract>
			<Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
				<Fishpig_Wordpress_Addon_GravityForms>
					<Block_System_Config_Form_Field_License><ignore/></Block_System_Config_Form_Field_License>
				</Fishpig_Wordpress_Addon_GravityForms>
			</Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
			<Fishpig_Inject_Wordpress_Helper_License>
				<Fishpig_Wordpress_Addon_GravityForms>
					<Helper_License><ignore/></Helper_License>
				</Fishpig_Wordpress_Addon_GravityForms>
			</Fishpig_Inject_Wordpress_Helper_License>
			<Fishpig_Inject_Wordpress_Helper_Core>
				<Fishpig_Wordpress_Addon_GravityForms>
					<Helper_Core><ignore/></Helper_Core>
				</Fishpig_Wordpress_Addon_GravityForms>
			</Fishpig_Inject_Wordpress_Helper_Core>
		</injection>
		<encode>
			<helper_license>app/code/community/Fishpig/Wordpress/Addon/GravityForms/Helper/License.php</helper_license>
			<helper_core>app/code/community/Fishpig/Wordpress/Addon/GravityForms/Helper/Core.php</helper_core>
			<observer>app/code/community/Fishpig/Wordpress/Addon/GravityForms/Model/Observer.php</observer>
			<observer_plugin_abstract>app/code/community/Fishpig/Wordpress/Addon/GravityForms/Model/Observer/Plugin/Abstract.php</observer_plugin_abstract>
		</encode>
	</fishpig>
</config>
