<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_Root>
			<version>1.1.0.7</version>
			<fishpig>
				<name>Root</name>
				<url>http://fishpig.co.uk/magento/wordpress-integration/root/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_Root>
	</modules>
	<global>
		<blocks>
			<wp_addon_root>
				<class>Fishpig_Wordpress_Addon_Root_Block</class>
			</wp_addon_root>
		</blocks>
		<helpers>
			<wp_addon_root>
				<class>Fishpig_Wordpress_Addon_Root_Helper</class>
			</wp_addon_root>
		</helpers>
		<events>
			<cms_page_render>
                <observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>cmsPageRenderObserver</method>
					</wp_addon_root>
                </observers>
			</cms_page_render>
			<controller_front_init_before>
                <observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>controllerFrontInitObserver</method>
					</wp_addon_root>
                </observers>
            </controller_front_init_before>
			<wordpress_get_blog_route>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>blogRouteGetObserver</method>
					</wp_addon_root>
				</observers>
			</wordpress_get_blog_route>
			<wordpress_get_toplink_url>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>getToplinkUrlObserver</method>
					</wp_addon_root>
				</observers>
			</wordpress_get_toplink_url>
			<wordpress_get_toplink_label>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>getToplinkLabelObserver</method>
					</wp_addon_root>
				</observers>
			</wordpress_get_toplink_label>
			<wordpress_init_layout_after>
				<observers>
					<wp_addon_root>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_Root_Helper_Data</class>
						<method>initLayoutAfterObserver</method>
					</wp_addon_root>
				</observers>
			</wordpress_init_layout_after>
		</events>
	</global>
	<default>
		<wordpress>
			<integration>
				<at_root>1</at_root>
				<replace_homepage>0</replace_homepage>
			</integration>
		</wordpress>
	</default>
	<fishpig>
		<injection>
			<Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
				<Fishpig_Wordpress_Addon_Root>
					<Block_System_Config_Form_Field_License><ignore/></Block_System_Config_Form_Field_License>
				</Fishpig_Wordpress_Addon_Root>
			</Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
			<Fishpig_Inject_Wordpress_Helper_License>
				<Fishpig_Wordpress_Addon_Root>
					<Helper_License><ignore/></Helper_License>
				</Fishpig_Wordpress_Addon_Root>
			</Fishpig_Inject_Wordpress_Helper_License>
		</injection>
		<encode>
			<helper_license>app/code/community/Fishpig/Wordpress/Addon/Root/Helper/License.php</helper_license>
			<helper_data>app/code/community/Fishpig/Wordpress/Addon/Root/Helper/Data.php</helper_data>
			<block_license>app/code/community/Fishpig/Wordpress/Addon/Root/Block/System/Config/Form/Field/License.php</block_license>
		</encode>
	</fishpig>
</config>
